@import url('https://fonts.googleapis.com/css?family=Della+Respira&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');


/* Note: some background colors are commented out 
: they were to show the div during design */


html, body {
    margin: 0;
    padding: 0;
    }
    

    /* overflow-y: scroll; */
    /* content clipped with scrolling */


body {
    background-color: rgb(255, 255, 255);
    /* max-width: 3500px; */
    font-family: 'Della Respira',serif, 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

a {
    text-decoration: none !important;
}


h1,h2,h3,h4,h5,h6{
    font-weight: 400;
}

header{
    display: flex;
    justify-content: center;
    margin-top:15px;
    min-width: 20px;
    background-color: #FFFFFF;
}


.nav-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    max-width: 1380px;
    margin: 10px auto;
}



.topStuff {
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 50px;
}

.topStuff li{
    list-style: none;
}

#logo {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.search {
    width: 300px;
    height: 56px;
    padding: 0px 45px 0px 20px;
    background-color:#F1F1F1;
}


#account {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 235px;
    height: 56px;
    padding: 0px 45px 0px 20px;
    /* background-color: brown; */
}

li.myac{
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 100px;
    right: 180px;
}

li.money{
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 100px;
    right: 130px;

}

#basket {
    width: 67px;
    height: 56px;
    padding: 0px 45px 0px 20px;
    /* background-color: cadetblue; */
}

nav {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 15px;
    background-color: #483076;
    list-style: none;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    /* font-weight: 300; */
    font-size: 15px;
    letter-spacing: 0.05em;

}


header nav a{
    color: #FFFFFF;
    text-decoration: none;
}




.innerText {
    display: flex;
    position: relative;
    z-index: 100;
    justify-content: center;
    /* background-color: rgb(0, 42, 255); */
    width: 100vw;
    height: 450px;
    overflow-x: hidden;
}




.overlay{
    padding-top: 5px;
    filter: brightness(0.8);
}

.heroTitle{

    position: absolute;
    color: #FFFFFF;
    max-width: 800px;
    top: 25px;
    margin-left: 37px;

}

.heroTitle h3{
    font-size: 3.125rem;
    font-weight: 700;
    letter-spacing: 5px;
}


.heroTitle p{
    margin-bottom: 40px;
    font-size: 1.375rem;
    color: #FFFFFF;
    /* text-transform: none; */
    letter-spacing: 0;
    line-height: 36px;
    font-weight: 400;
}


.heroText{
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    max-width: 1360px;
}


.caroselWrapp{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    background-color: chartreuse;

}

button, .button{
   background-color: #483076;
   color: #FFFFFF;
   border: none;
   font-size: 17px;
   position: relative;
   display: flex;
   cursor: pointer;
   justify-content: center;
   outline: 0;
   transition: all ease-in-out .5s;
   text-decoration: none;
   border-radius: 0;
   padding: 20px 30px 20px 30px;
   width: fit-content;
   font-family: 'Della Respira','Helvetica Neue',Helvetica,Arial,sans-serif;
   font-weight: 600;
}

.angleLeft, .angleRight, .angleRightCarosel{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 50%;
    border-radius: 50%;
    text-align: center;
    font-size: 1.5625rem;
    line-height: 40px;
    cursor: pointer;
    color: #483076;
    margin: -20px 0 0;
    padding: 0 0 0 .1em;
    background: rgba(255,255,255,.6);
    width: 40px;
    height: 40px;
}

.angleRight{
    left: 2vw;
}

.angleLeft{
    /* left: 10vw; */
    left: 95vw;
}

.angleRightCarosel{
    background: #7dba9e;
    color: #fff;
    font-size: 1.25rem;
}


.caroselButt{
    position: relative;
    background-color: #fff;
    height: 40px;
    top: 360px;
    right: 20px;
}


.featured-items{
    display: flex;
    justify-content: center;
}


.featured-items-inner{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}


.featured-items-inner-title-wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.featured-items-carosel{
    display: flex;
    position: relative; 
    margin-top: 10px; 
    top: -30px; 

}


.carosel-image{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(238, 186, 234); */
    background-color: #FFFFFF;
    height: 556px;
    width: 283px;
    margin: 0px 25px 20px 25px;
    border-style: solid;
    border-color: #eee;
    border-width: 1px;
    /* border: 1px solid #eee; */
}


.carosel-image img{
    width: 100%;
}

.carosel-image-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.info-code{
    margin-top: 10px;
    color: #aaa;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: .6875rem;
    letter-spacing: 1px;
    font-weight: 400;
}


.info-title{
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 1px;
    min-height: 40px;
    color: #323232;
    text-transform: capitalize;
    margin: 0px;
    margin-top: -10px;
}



.info-price{
    margin-top: 10px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;

}



.featured-title-column h4{
    font-size: 25px;
    color: #323232;
}


.featured-title-column h5{
    font-size: 12px;
    color: #483076;
    position: relative;
    bottom: 43px;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.85rem;
    letter-spacing: 1px;
}


.featured-title-column{
display: flex;
flex-direction: column;
align-items: center;
}



.innerMain{
    display: flex;
    flex-direction: column;
    position: absolute;
}



.key-messages {
    /* background-color: rgb(209, 23, 168); */
    display: flex;
    height: 200px;
    justify-content: center;
}



.inner-message-wrapper{
    width: 1380px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}


.message {
    /* border-style: dotted; */
    background-color: #f1f1f1;
    display: block;
    /* border-color: aqua; */
    width: 443px;
    height: 124px;
}


.message a{
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
}



.message a i{
    width: 35px;
    height: 35px;
    padding: 42px 20px 20px 20px;
    color: #483076;
    font-size: 2.0rem;
    transform: scaleX(-1);
}


.message-title{
    /* background-color: beige; */
    width: 323px;
    text-decoration: none;
    color: #666666;
}


.message-title h4{
    text-transform: uppercase;
    letter-spacing: 1px;
}


.message-title p{
    font-size: 13px;
}


.featured-items {
    display: flex;
    /* background-color: rgb(205, 116, 15); */
    width: 100%;
    height: 810px;
}


.featured-items-inner{
    border-bottom: 1px solid #eee;
}



.video-sell {
    /* background-color: rgb(108, 112, 112); */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 472px;
}



.video-wrapper-outer{
    max-width: 1360px;
    min-width: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid #eee;
    margin-top: 50px;
}


.video-wraper-inner{
    width: 670px;
    height:370px;
    /* background-color: aqua; */
}


.video-img img, .video-video .video-iframe{
    width: 630px;
    height: 370px;
    -webkit-box-shadow: -20px 20px 0px 0px #7dba9e;
    -moz-box-shadow: -20px 20px 0px 0px #7dba9e;
    box-shadow: -20px 20px 0px 0px #7dba9e;
}


iframe.video{
    position: relative;
    width: 94%;
    height: 91%;
    transform: scale(1.11);
    left: 33px;
    top: 16px;
    /* background-color: aqua; */
}


.features {
    display: flex;
    /* background-color: aqua; */
    height: 870px;
    justify-content: center;
    width: 100%;
}


.montage{
    width: 578px;
    height: 768px;
}



.hillside{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #f1f1f1;
    width: 782px;
    height: 768px;

}


.hillside-wrap-inside{
    display: flex;
    flex-direction: column;
    width: 582px;
    align-items: center;
    margin-top: 30%;

}

.hillside-wrap-inside h5{
    text-align: center;
    margin: 0;
    color: #483076;
    text-transform: uppercase;
    text-align: center;
    font-size: .75rem;
    letter-spacing: 2px;
    font-weight: 700;
    color: #555;
}


.hillside-wrap-inside h3{
    color: #323232;
    font-family: 'Della Respira','Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height: 1;
    letter-spacing: 3px;
    font-weight: 400;
    position: relative;
    text-align: center;
}


.hillside-wrap-inside p{
    color: #323232;
    line-height: 30px;
    text-align: center;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}


.features-outer-wrapper{
    display: flex;
    margin-top: 50px;
    border-bottom: 1px solid #eee;
}



.touchyfeely-pitch {
    /* background-color: rgb(112, 205, 13); */
    width: 100vw;
    height: 450px;
}



.touchy-pitch-wrapper{
    display: flex;
    justify-content: center;
}


.touchy-pitch-single{
    display: flex;
    flex-direction: column;
    width: 440px;
    margin: 50px 10px 0px 10px;
}

.pitch-single-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 290px;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 10px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 44px;
    margin-top: 60px;
    font-family: 'Della Respira','Helvetica Neue',Helvetica,Arial,sans-serif;
}


.pitch-single-text h5{
    font-size: 30px;
    margin: 0;
}



.pitch-single-text h6{
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
}




.touchy-pitch-single img{
    width: 100%;
}


.pitch-single-text .button{
    padding: 8px 30px 8px 30px;
}


.newsletter-email {
    /* background-color: rgb(10, 87, 108); */
    background-color: #eee;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.keep-informed{
    width: 165px;
    height: 63px;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Della Respira','Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height: 2px;
    border-right: 1px solid #ddd;
    padding-right: 40px;

}

.keep-informed h3{
    font-size: 18px;
    letter-spacing: 2px;
    color: #483076;
}

.keep-informed p{
    font-size: 14px;
    color: #323232;

}

.email-form{
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid #ddd;
}

.email-form .text{
    width: 540px;
    padding: 20px;
    color: #000000;
    font-size: 15px;
    background-color: #fff;

}

.email-but{
    width: 207px;
    /* background-color: darkkhaki; */
}
.buttonEmail {
    width: 100%;
    background-color: #eee;
    border: 5px solid #483076;
    color: #483076;
}

.buttonEmail i{
    padding-right: 10px;
}

.map {
    /* background-color: rgb(102, 170, 50); */
    width: 750px;
}



.social {
    /* background-color: rgb(174, 131, 227); */
    width: 413px;
}



.social-links {
    /* background-color: rgb(227, 36, 186); */
}



.payment-links {
    /* background-color: rgb(15, 91, 91); */
}


.footer-meta {
    background-color: rgb(255, 0, 115);
}




footer {
    background-color: #323232;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

footer .footer-main{
    height: 315px;
}

footer.meta{
    height: 50px;
    justify-content: space-around;
    padding-bottom: 30px;
}

footer.meta h6{
    font-size: 13px;
    padding-bottom: 30px;
}


/*

color Palette

#483076    /* purple 
#7dba9e    /*greeny
#EEEEEE    /* softGrey
#f1f1f1    /* softGrey2
#323232    /*softBlack
#666666    /*blacky text




media query

(max-width:1379) and (min-width: 801)

(max-width: 800px)

(max-width: 640px)


*/